[2017-04-27 20:04] jbcpollak opened #2 "Please support branch-specific releases"
We follow the gitflow process, and I'd like to be able to publish versions with each commit, in a branch-specific way.

For example:

The current version of my project is `1.0.0` and I'm working on a branch, `feature/foo`. I'd like to publish the project as `1.0.1-foo.1`, `1.0.1-foo.2`, `1.0.1-foo.3`.

When I merge to my develop branch, I'd like to publish `1.0.1-beta.1`. Subsequent merges would b

[2017-05-12 18:31] jbcpollak commented on #2
I was thinking more about this, `npm version` has `premajor | preminor | prepatch` support. It would be great if semantic-release could do this, possibly based on an environment variable or the git branch name.

For example, based on the commit log, we'd calculate the next version, and then depending on your branch name, we'd either set the version, or increment a pre-version.

`develop` branch wo

[2017-05-12 19:00] christophwitzko commented on #2
Hi @jbcpollak,

this is the repository of the go version of semantic-release.
It looks like your issue is more JavaScript related, feel free to open another issue here: https://github.com/semantic-release/semantic-release/issues

Best,
Christoph

[2017-05-12 22:22] jbcpollak commented on #2
Hi Christoph,

I was using npm as an example, but I am hoping to do the same with Docker and .tgz images as well. I was going to fork the repo and see if I can get it to do what I had in mind, would you be interested in discussing a PR once I have something working?

[2017-05-12 23:25] christophwitzko commented on #2
@jbcpollak ops, I was too fast ☺️ Looking forward to your pull request.

[2017-05-12 23:54] jbcpollak commented on #2
Thanks. It will take a few days probably.

On Fri, May 12, 2017, 7:25 PM Christoph Witzko <notifications@github.com>
wrote:

[2017-05-25 06:55] christophwitzko commented on #2
Hi @jbcpollak, I had some time to think about this. In my opinion, `semantic-release` should not force the user to use specific branch names. Instead, I came up with the idea of a `.semrelrc` file that tells `semantic-release` how it publishes the current branch. I have already implemented an tested this feature, and it works nicely: https://github.com/semantic-release/go-semantic-release#beta-rel

[2017-05-25 06:55] #2 closed

[2017-05-25 07:01] christophwitzko commented on #2
My next plan is to make `semantic-release` more modular for everyone so that everybody can write their own plugins.

[2017-05-25 07:02] christophwitzko opened #4 "Modularize semantic-release"
Split up `semantic-release` into small modules to make it more contributor friendly.

[2017-06-10 15:01] jbcpollak commented on #2
Hi, sorry for the delay. I can understand wanting this project not the be responsible for version names, although I generally prefer convention over configuration.

I have two thoughts about your current implementation: first, it seems like the  config file specifies both a version and a prerelease name. I'd prefer to only specify the pre-sale name and let the semantic release figure out the name.

[2017-06-14 01:18] jbcpollak opened #6 "probably should not write .npmrc"
Hi, the .npmrc being written when we enable `-update package.json` is causing problems for us. I've had to comment it out in our branch. We publish most of our packages to a 3rd party repository which uses different authentication settings. We don't set $NPM_TOKEN, and our npmrc files look different than the one hard coded in this project.

It seems to me deployment strategy is out of scope of thi

[2017-06-14 02:03] jbcpollak opened #8 "If there is no change, don't exit with an error code"
Currently when the tool runs, if there is no version change detected, it exits with error code 1. This causes our CI process to record these builds as failed, but in reality they were just one of the commit codes that don't cause version changes (docs, style, etc).

I'm not sure if there is a use-case for this being considered an error.

[2017-06-20 03:01] tonygaetani opened #9 "Renew let's encrypt SSL certificate"
It looks like the get-release.xyz SSL certificate expired today. It can easily be renewed with `certbot-auto renew` (there is a --dry-run option if you want to try it out).

![ssl error](http://i.imgur.com/EFRovMX.png)

[2017-06-20 08:29] christophwitzko commented on #9
@tonygaetani Thank you so much for reporting. It looks like my auto-renew process had some issues restarting nginx. Should be fixed by now. 🙏

[2017-06-20 08:29] #9 closed

[2017-06-20 11:01] tonygaetani commented on #9
@christophwitzko no problem! Maybe this is how you're doing it, but you can reload your nginx config by sending a HUP signal to the master: `sudo pkill --signal HUP nginx` or equivalent. I always loved that feature of nginx so just thought I'd share 🙂

[2017-06-22 12:44] michavonoben opened #10 "Provide server side git hook to enforce message format to comply with semantic release"
git commit messages should always start with `fix`, `feat`, `perf` or `revert`

[2017-08-04 12:35] leifg commented on #8
The use case is: if the version didn't change, abort the deployment. Usually in CI you can do something like this:

`semantic-release || true`

This will return a zero exit code

[2017-08-04 12:40] leifg opened #11 "Make it possible to write version file even if version didn't change"
running `~/semantic-release -vf` when the version didn't change will not create a version file. I think it's particular useful for testing the workflow (together with `-noci`).

I haven't seen a flag that let's you specify if you want to write the version file.

[2017-08-05 12:14] jbcpollak commented on #8
The problem with that is it overrides any errors that might happen with the semantic release process itself. Do different reasons exit with different values that can be tested for?

[2017-08-15 20:55] #10 closed

[2017-08-15 20:58] christophwitzko commented on #6
Hey @jbcpollak, sorry for the late reply. I have released a fix for this issue. [`semantic-relases@v1.5.1`](https://github.com/semantic-release/go-semantic-release/releases/tag/v1.5.1) does not overwrite a existing `.npmrc` file.

[2017-08-15 20:58] #6 closed

[2017-08-16 00:46] jbcpollak commented on #6
Thanks!

[2017-08-21 06:05] leifg opened #12 "Weird version displayed on merge commit"
The tool works great if you have a flat commit history. But when you have a merge commit from a PR, the whole commit will be taken as a name. See [the latest release of my app](https://github.com/leifg/time_tracking/releases/tag/v1.8.5).

This is due to the fact that the version name is left empty (see in [api response](https://api.github.com/repos/leifg/time_tracking/releases/7377377)).

An easy

[2017-08-21 11:00] christophwitzko commented on #12
Hi @leifg, thanks for reporting the issue. This looks like some weird GitHub bug, but your recommended fix sounds reasonable to me. I will try to fix that by next week.

[2017-08-30 15:33] #12 closed

[2017-09-17 18:52] gr2m commented on #4
Hey @christophwitzko do you want to move this to your personal account? I don’t know any go myself and can’t help much maintaining it

We can also leave it in the organization but then we should make clear that this repository is not maintained by the other maintainers (I’ll onboard a few more people of the next weeks)

[2017-09-29 08:47] christophwitzko commented on #4
Hey @gr2m, first of all, thank you for maintaining of the JavaScript version of semantic-release. I really appreciate the time and effort you put into this project. 😊
As semantic-release is not only a solution for the JavaScript ecosystem, it makes sense to have different implementations in different programming languages in this organization. I think this is also a great popularity boost for this

[2017-09-29 20:27] gr2m commented on #4
yeah I agree, are you up for maintaining the go repository in case there are any folks asking for help?

[2017-09-30 04:47] christophwitzko commented on #4
Yes, of course.

[2017-12-04 21:43] joppa27 commented on #8
TL;DR; I only run semver if certain files have changed.
I've come around on the exiting with an error code with no change to the version number. It has come in really handy when building docker images in Ci.  I use this to build docker images in Jenkins, and having an error code when there is no change is extremely helpful.

I had to be more deliberate about when I run semver though, and I use `ch

[2018-01-18 17:25] ssorathia commented on #11
I like this idea as well.  Coupled with #8 this could help us with an issue we have where sometimes we are unable to push a docker image, and when that fails, there is no easy way to push the build.  If open, I could potentially open a PR that would allow a flag to be passed to allow this.

[2018-01-19 22:51] christophwitzko commented on #8
First of all sorry for the late reply. 😶

@ssorathia Thanks for trying out semantic-release. ☺️

I would prefer not to add this kind of a flag as the behavior could be simply achieved by adding `|| true` after the command. To distinguish between a general error or a "no new version"-error we could use different error codes (like @jbcpollak suggested).

For example:
__1__ - general error
__65__ - n

[2018-01-19 22:52] christophwitzko commented on #11
Hey all, a version file is only written when a new version has been released and the `-vf` flag is set. The version file should be an indicator to determine if a new version got released. That's why I am not feeling comfortable adding this option.

[2018-01-19 22:52] #11 closed

[2018-01-22 18:45] christophwitzko commented on #8
I think we don't break anything as it is a non-zero exit code, so no need for an additional flag.
@ssorathia would you be up for making a pull request? 😃

[2018-01-22 20:03] ssorathia commented on #11
Though it's closed, how would you recommend handling the situation I described?  The version has been created in github, and I'm using this tool to determine this, but if for some reason the docker push for that version doesn't complete properly, I don't really have a good way to "fix" this beyond deleting the version in github (which could be done, but generally I don't like doing this)

[2018-01-22 20:04] ssorathia commented on #8
That makes sense.  Sure, I'll put some time into it this week.

[2018-01-22 20:36] christophwitzko commented on #11
That is something that also had happened to me. I fixed this most of the time by pushing an empty commit. (not the cleanest solution, but the fastest)

[2018-06-05 15:47] talolard opened #13 "GITHUB_TOKEN environemnt variable not detected"
Hi, I'm trying to run SR but it won't detect my github token in the environment variable.
[code]
Running Ubuntu 16, installed SR with

`      - curl -SL https://get-release.xyz/semantic-release/linux/amd64 -o ~/semantic-release && chmod +x ~/semantic-release
`

Thanks

[2018-06-05 16:10] christophwitzko commented on #13
Hi, is `GITHUB_TOKEN` also exported? (with `export GITHUB_TOKEN`)

[2018-06-06 07:48] talolard commented on #13
Nope. Just defined in .profile.
That fixes it. Thanks

[2018-06-06 07:59] #13 closed

[2018-07-05 11:10] talolard opened #14 "Tag as a release candidate?"
Hi,
Is their a way to get semrel to tag the release as a release candidate e.g. 1.3.4-rc1 ?
And to get this via commit message (e.g. if I specify fix(xxx):.... RC) it will tag as such ?
Thanks

[2018-07-05 11:21] christophwitzko commented on #14
Hi Tal, that is possible but not that straightforward/easy as I wish it should be.
You have to branch out and check in a `.semrelrc` file:
https://github.com/go-semantic-release/semantic-release#beta-release-support

[2018-12-20 18:02] Rossiar opened #15 "Using BREAKING CHANGE"
Hi - just wanted some guidance on using `BREAKING CHANGE` as specified in the original project docs: https://github.com/semantic-release/semantic-release/blob/master/README.md

There doesn't seem to be support for this as currently [this line](https://github.com/go-semantic-release/semantic-release/blob/master/semrel.go#L94) will fail to match a commit message like `BREAKING CHANGE: merry christma

[2018-12-20 23:34] christophwitzko commented on #15
Hi @Rossiar,

if you want to introduce a new breaking change with a commit, you still need to stick to the [Angular Commit Message Conventions](https://docs.google.com/document/d/1QrDFcIiPjSLDn3EL15IJygNPiHORgU1_OOAqWjiDU5Y/edit). That means that the `BREAKING CHANGE` keyword is part of the commit body or footer.

This is how a breaking change commit message should look like:
[code]

[2018-12-21 15:34] Rossiar commented on #15
Hi @christophwitzko,

Thanks for clearing up my misunderstanding!

[2018-12-21 15:34] #15 closed

[2019-01-09 22:41] ArchiFleKs opened #16 "Migration from Travis org to com"
Travis is migrating open source repo to travis.com. When I tried to deploy a new public repository on travis.com I get this error:

[code]

Is there any way to tell semantic release to use travis.com ?

[2019-01-09 23:21] christophwitzko commented on #16
Hi @ArchiFleKs,

currently, semantic-release uses the `api.travis-ci.com` endpoint only if the GitHub repo is private. This sadly won't work anymore, after Travis CI has announced to unify their infrastructure.

I couldn't find a straight forward solution to determine which endpoint semantic-release should use, because you cannot really tell if an open source repo is already using the new `.com` e

[2019-01-10 07:50] ArchiFleKs commented on #16
Hi @christophwitzko,

Thank you for your answer.
Maybe in addition of autodetection, just adding an optional flag to choose between org and com might be a solution.

[2019-01-10 09:17] christophwitzko commented on #16
Thanks @ArchiFleKs, that sounds like a good solution for now. I will add a `--travis-com` flag.

[2019-01-10 16:58] christophwitzko commented on #16
Hi, I just release version `1.11.0`. Can you try to use this version on your travis build?
If you are using curl to install you can just use this line:
`curl -SL https://get-release.xyz/go-semantic-release/semantic-release/linux/amd64/1.11.x -o ~/semantic-release && chmod +x ~/semantic-release`

[2019-01-11 14:02] ArchiFleKs commented on #16
Seems to work for me with --travis-com, thanks a lot.

[2019-01-11 15:05] christophwitzko commented on #16
@ArchiFleKs awesome and thanks for your support.

[2019-01-11 15:05] #16 closed

[2019-02-28 20:14] zacck opened #18 "Can't run semantic release"
For some reason most likely my fault here I cant get go-semantic-release to run when building my docker image on  circle ci or on my machine

Here is how I install the bin in my machine

https://github.com/LittleKidogo/phoenix-deploy/blob/55d792acafac13f9c2d525c5a1258d4c672db7fe/Dockerfile#L13

Here is how I attempt to run it

[code]

However as you can see it always complains that it cant find th

[2019-03-01 10:39] zacck commented on #18
Turns out I need to install
`build-base` and `libc6-compat`
for the binary to run ... still no idea why but thank you so much @leifg

[2019-03-01 12:11] #18 closed

[2019-03-27 13:51] brooksjbr opened #19 "The initial run of semantic-release automatically increments the MAJOR version"
I'm experiencing something unexpected on the initial run of semantic-release. The MAJOR version is incremented, but a "BREAKING CHANGES" commit hasn't been made.

There have been a number of `feat` commit messages pushed, with the expectation of the MINOR version incrementing.

For example, if the tagged version is currently v0.0.0 and a commit is pushed `feat(app): new feature` I expect the updat

[2019-03-28 21:20] #19 closed

[2019-03-29 09:46] christophwitzko commented on #19
Hi @brooksjbr, semantic-release does not support versions for [initial development](https://semver.org/#spec-item-4).

[2019-05-06 12:20] HazCod commented on #8
Additionally, I noticed a `.ghr` file is not being created when there is no change.

[2019-06-12 08:37] hazcod opened #22 "Deploy to demo, production?"
Hi,

So I have a workflow where if I push to master (production) or demo (tda), a new release is created and docker images are pushed using this tag. I extract the version out of `.version`.

However whenever I want to deploy to production and this is already deployed on demo, the release will already exist and semantic-release will exit without `.version` file.

Your thoughts on how to handle thi

[2019-06-23 22:19] ArchiFleKs opened #23 "How to apply to all branch ?"
I'm trying to have other branches make release..

[code]

You can check the build here: https://travis-ci.com/clusterfrak-dynamics/teks/builds/116574231

What i'm trying to is :
- continue developing on master and release a BREAK commit to bump to v2.
- have a `release-1.X` branch which still release on v1.X

Kevin

[2019-06-28 11:03] christophwitzko commented on #23
Hi @ArchiFleKs, thanks for using semantic-release!
For that, I created the `.semrelrc` config file. You need to check out the `release-1.X` and commit the file with the following content:
[code]

This will tell semantic-release to stick to 1.x.x releases on the `release-1.X` branch.

Cherrs,
Christoph

[2019-06-28 11:05] christophwitzko commented on #22
The best way to do this would be to query the [GitHub release API](https://developer.github.com/v3/repos/releases/) and check for the latest release.
If you need help with that, I am happy to provide you with the necessary script.
Cheers,
Christoph

[2019-06-28 11:20] hazcod commented on #22
I'm currently grepping the found version out of the `semantic-release` output in a very nasty way:
[code]

[2019-06-28 13:32] ArchiFleKs commented on #23
Thanks for your answer it is working :)

Now I'm trying to do a breaking release : https://github.com/clusterfrak-dynamics/teks/commit/cd89357b9e9fa2f21955f544bb725f84ef6c3408

But i still get a feature release:

https://travis-ci.com/clusterfrak-dynamics/teks/builds/117297391

Do you support the `BREAKING CHANGES:`

[2019-06-28 15:28] #23 closed

[2019-06-29 11:17] christophwitzko commented on #23
Awesome!
Yes, it supports breaking changes, but the breaking change notation must be part of the commit message body.
Take a look at this commit message: https://github.com/greenkeeperio/greenkeeper-lockfile/commit/701d5cd
In your case it could look like:
[code]

[2019-07-29 07:42] christophwitzko commented on #22
Hey @hazcod, sorry for the late reply. You could do something like:
[code]

I did not test that script, but I think it should work. Hope that helps.

Cheers,
Christoph

[2019-07-29 07:42] #22 closed

[2019-07-29 07:46] christophwitzko opened #25 "Make semantic-release compatible with different CI paltforms"
Currently, semantic-release only supports Travis CI, let's add support for a couple more platforms like CircleCI, Bitrise, etc.

[2019-11-01 00:58] rach1416 commented on #25
Has this been implemented to run for Github Actions?

[2019-12-11 11:30] joppa27 opened #28 "add native support for other git remote repository types"
semantic-release has great native support for github. It would be nice to have native support for:

- [bitbucket cloud](https://bitbucket.org)
- ~[bitbucket server](https://hub.docker.com/r/atlassian/bitbucket-server/)~ Atlassian is pulling the plug on [server licences](https://www.theregister.com/2020/10/19/atlassian_server_licenses/)
- ~[gitlab](https://gitlab.com/explore)~

[2019-12-11 11:31] joppa27 commented on #25
Jenkins support would be nice too :)

[2019-12-13 14:59] daswars commented on #28
please gitlab :)

[2020-02-19 03:48] ksegun commented on #14
@christophwitzko can maintainedVesion be something like 1.1.0?

[2020-04-05 12:34] #4 closed

[2020-04-05 12:36] #8 closed

[2020-04-05 12:45] #14 closed

[2020-04-23 14:58] cliedeman commented on #28
Gitlab work started here https://github.com/go-semantic-release/semantic-release/pull/40

[2020-04-24 08:33] christophwitzko commented on #28
GitLab support has been added in [v1.19.0](https://github.com/go-semantic-release/semantic-release/releases/tag/v1.19.0). Feel free to try it out. Thanks again to @cliedeman for the great work :)

[2020-04-24 08:56] cliedeman opened #41 "Change default Starting version to v0.0.1"
If there have been no previous releases the first release will be v1.0.0.

For me 1.0.0 is usually a stability milestone and not the first release

[2020-04-25 18:10] cliedeman opened #47 "Proposal: Move pkg to internal"
This would be breaking change

[2020-04-25 18:14] cliedeman opened #48 "Proposal: Plugin Interface"
There are 2 options I see here.

Option 1:
Create a public entrypoint to execute semantic-release and allow users to pass in a list of plugins

Option 2:
Use the go plugin module and create a plugin interface

Example Plugin hooks and use cases:

PostReleaseCreated:
 - Post message to slack
 - create Release in jira

ProcessChangelog:
 - swap jira tickets with links. E.g. AAA-1 -> [AAA-1](http://s

[2020-04-25 18:28] cliedeman opened #49 "Idea: Maintenance Releases"
This is quite a tricky feature so nothing might ever come of this issue.

https://semantic-release.gitbook.io/semantic-release/usage/workflow-configuration

Hypothetical Scenario:

- create release 1.0.0 from master branch
- branch release-1.0.x is created.  (whenever a new minor is created a matching release branch is created)
- dev continues on master branch and 1.0.0 enters QA
- bugfix/patch ne

[2020-04-25 20:15] christophwitzko opened #50 "GitHub Action docs"

[2020-04-25 20:15] christophwitzko opened #51 "GitLab docs"

[2020-04-26 10:27] #41 closed

[2020-04-26 10:53] christophwitzko opened #56 "Use stretchr/testify"

[2020-04-26 10:56] christophwitzko commented on #56
@cliedeman Do you want to look into this?

[2020-04-26 10:57] cliedeman commented on #56
Sure, you can assign it to me

[2020-04-26 10:58] cliedeman commented on #51
Can I take this one?

[2020-04-26 10:58] christophwitzko commented on #56
Awesome, thank you 👍

[2020-04-26 11:01] christophwitzko commented on #49
I think this is in a limited form already possible with the `.semrelrc` config file. Create a release branch (`release/1.x.x`) and check in the `.semrelrc` to:
[code]
This will allow publishing new versions from the `release/1.x.x` branch.

[2020-04-26 11:03] christophwitzko commented on #51
Sure, thank you. 🎉

[2020-04-26 11:05] christophwitzko commented on #48
This is a great idea, I have already thought about this some time ago, how to make `go-semantic-release` more extendable. I will look into that next week 👍

[2020-04-26 11:07] christophwitzko commented on #25
@rach1416 GitHub Actions is already supported, but not documented yet: https://github.com/go-semantic-release/action
Here is an example project: https://github.com/christophwitzko/git-head/blob/master/.github/workflows/ci.yml

[2020-04-26 12:08] cliedeman opened #59 "Add golangci-lint"
Integrate https://github.com/golangci/golangci-lint into build

[2020-04-26 12:54] christophwitzko commented on #59
This is a great idea 👍

[2020-04-26 16:41] #59 closed

[2020-04-26 18:39] #51 closed

[2020-04-27 10:40] cliedeman commented on #49
I think this could work if every release (Release in this case could be a sprint or a few sprints aka milestone) would be new major.

Then there would only a few features needed to make this an automated flow
- When a new major is released automatically bump and commit maintainedVersion. (I think this could be a new command. semantic-release --new-major or something)
- Forbid major releases on mai

[2020-04-27 11:44] cliedeman commented on #48
Reference for a plugin system I have seen that works well
- https://github.com/99designs/gqlgen/blob/master/plugin/plugin.go#L11
- https://github.com/99designs/gqlgen/blob/5e3cef245a1e87b64c8e57630fa78dae706d069b/api/generate.go#L63

[2020-04-27 19:39] cliedeman opened #62 "Create Github Pages Docs"
A documentation site might be useful. I can create a docusaurus one - https://stackworx.github.io/formik-material-ui/
Unless you have have a different preference

[2020-04-27 19:45] cliedeman commented on #47
The idea here was to decide which parts of the codebase should be public once plugins are added.

[2020-04-28 10:18] cliedeman commented on #56
Fixed in https://github.com/go-semantic-release/semantic-release/pull/61

[2020-04-28 10:18] #56 closed

[2020-04-29 08:28] christophwitzko commented on #62
This would be nice, but we should have some more documentation first. 😅 For now the `README.md` is fine.

[2020-04-29 08:38] cliedeman commented on #62
We can revisit it later then 👍

[2020-04-29 08:38] #62 closed

[2020-06-09 07:27] hazcod commented on #50
Would very much like a GitHub action!

[2020-06-10 06:30] hazcod commented on #50
@christophwitzko FYI am using it this way [tag.yml](https://github.com/hazcod/intigriti-slack-announce/blob/master/.github/workflows/tag.yml).
And this triggers `goreleaser` to attach artifacts [here](https://github.com/hazcod/intigriti-slack-announce/blob/master/.github/workflows/release.yml).

[2020-06-21 20:26] idirouhab commented on #50
also, the return code is affecting the build status.
If there's nothing to change the script will exit with code 65, which is working fine with Travis but it makes GitHub action to fail.

[2020-06-22 07:44] cliedeman commented on #50
@idirouhab created https://github.com/go-semantic-release/semantic-release/pull/66/ to fix this

[2020-06-27 07:28] cliedeman commented on #50
Created PR for docs https://github.com/go-semantic-release/action/pull/6

[2020-06-27 07:29] cliedeman opened #67 "Use github action to do releases"
We should dogfood the github action and use it to release go-semantic-release

[2020-07-20 09:39] hazcod opened #70 "--allow-no-changes skips .version file"
Hi, using `--allow-no-changes` does not create a `.version` file.
[code]

[2020-07-29 11:50] christophwitzko commented on #70
This would be a breaking change for the `.version` file. Maybe we want something like a `.prev-version`? Another option would be to use the GitHub API: https://docs.github.com/en/rest/reference/repos#get-the-latest-release

[2020-07-29 13:59] christophwitzko commented on #67
We already do that for the GitHub action repository. I would leave the main repository release pipeline as it is, so we can assure that the latest build of semantic-release is used for the release.

[2020-07-29 13:59] #67 closed

[2020-07-29 14:48] #50 closed

[2020-08-11 06:23] #48 closed

[2020-08-15 04:31] Azuka opened #74 "Feature request: create chore commit for semantic release"
When running semantic-release to update the version file with `-vf`, the current commit is used to create the semantic release tag, _then_ the version file is updated, but without being pushed up to GitHub.

It would be nice to follow the behavior of the js version of semantic release, which creates a commit, then tags that commit. This would allow any CI processes to be version-aware based on the

[2020-09-02 18:10] christophwitzko commented on #47
`pkg` is now used by the plugins, I will go ahead and close that issue

[2020-09-02 18:10] #47 closed

[2020-09-03 15:01] guumaster opened #77 "Monorepo support"
Would this tool include support monorepos?

[2020-09-04 06:27] cliedeman commented on #77
Hi @guumaster there is currently no monorepo support.

I searched for related issues in the javascript semantic-release project and found this
https://github.com/semantic-release/semantic-release/issues/193

[2020-09-07 11:00] janl opened #79 "just curious, why did 2.x drop travis support? ✌️"

[2020-09-07 20:49] christophwitzko commented on #79
Hey Jan, this was related to https://github.com/shuheiktgw/go-travis/pull/75 as travis removed their GitHub token authentication support.

[2020-09-14 08:47] cliedeman opened #81 "End to End tests"
I want to add some end to end tests to avoid issues like https://github.com/go-semantic-release/provider-gitlab/issues/1

My plan is to create a sample repo (Probably a bash script that generates a lot of commits and with branches for each test scenario). Place this repo into github and mirror it to gitlab.

Then we use dry-run tests to verify the output and run them only on master to avoid concur

[2020-09-17 14:09] christophwitzko commented on #81
Great idea 👍  I would suggest to use a separate organization for testing (like `go-semantic-release-test`)

[2020-09-17 14:09] #79 closed

[2020-09-17 14:48] christophwitzko commented on #77
I created for a research project a very very proof of concept bash script for publishing multiple packages from a single repo: https://github.com/FaaSterMetrics/test-functions/blob/master/release.sh

Currently, we don't have any plans to support monorepos out-of-the-box in the near future.

[2020-09-18 06:52] SergiiShapoval opened #82 "semantic-release V2 has incompatible structure for import through go.mod"
the current repo can be used in golang projects with import through go.mod (see https://github.com/golang/go/wiki/Modules#how-can-i-track-tool-dependencies-for-a-module)

but if we import the V2 version we receive the next error from go:

It can be fixed following
https://github.com/golang/go/wiki/Modules#releasing-modules-v2-or-higher

will be great to be able to use this repo in golang projects

[2020-09-18 08:20] christophwitzko commented on #82
To import v2 you would need to import `github.com/go-semantic-release/semantic-release/v2` (like here: https://github.com/go-semantic-release/provider-github/blob/master/pkg/provider/github.go#L12)

[2020-09-18 08:51] SergiiShapoval commented on #82
hm, yep mistyped, thank you for help

[2020-09-18 08:51] #82 closed

[2020-10-07 11:04] cliedeman opened #83 "Docker Image causes issues on gitlab"
The entrypoint embedded into the image cause the semantic-release step to be run twice. Once during script and again during after_script on gitlab.

https://github.com/go-semantic-release/semantic-release/blob/master/Dockerfile#L17

[2020-10-29 06:43] cliedeman commented on #81
@christophwitzko can you create a sub group on gitlab. I have created the github org already

[2020-10-29 07:19] christophwitzko commented on #81
I will 👍
Can you change my role to owner for the go-semantic-release-test org?

[2020-10-29 07:58] christophwitzko commented on #81
Created the `test` subgroup: https://gitlab.com/go-semantic-release/test
Should I add you as owner? What is your GitLab username?

[2020-10-29 18:30] cliedeman commented on #81
@christophwitzko my username is cliedeman on gitlab. I made you an owner.

I have generated the first pass sample repo here - https://github.com/go-semantic-release-test/test

Used it to test the pagination on the gitlab provider and picked up some fun behaviour... https://github.com/go-semantic-release/provider-gitlab/pull/2

I havent figured out the next step for the e2e tests.
1. Do we want to

[2020-10-29 18:42] christophwitzko commented on #81
@cliedeman Thanks, added you too :)

1. I would say we create actual releases.
2. At some point, yes.

I also have not thought about the next steps, but hopefully, I will have some time next week.

[2020-10-30 13:09] cliedeman commented on #81
Got a bit further.

The generate repo is populating the test repo on master ci run. I am getting a failure pushing to gitlab thought (both are using a deploy key with write permissions). It works locally but fails on ci. I think its due to the ssh fingerprint not being trusted

https://github.com/go-semantic-release-test/generate/runs/1330832285

My next thought is how to run the actual integratio

[2020-11-01 11:37] maulik13 commented on #25
I could help out with CircleCI if someone points me in the right direction to start.

[2020-11-02 10:32] christophwitzko commented on #25
Hey @maulik13, that would be great, I can set you up a repo and you create a PR would that work for you?

[2020-11-03 09:44] maulik13 commented on #25
@christophwitzko  that works for me. Thanks!

[2020-11-03 10:27] christophwitzko commented on #25
@maulik13 I created the repo: https://github.com/go-semantic-release/condition-circleci
If you need some examples of how conditions work, you can look here:
https://github.com/go-semantic-release/condition-github/blob/master/pkg/condition/github.go
https://github.com/go-semantic-release/condition-gitlab/blob/master/pkg/condition/gitlab.go
Or just ask me, I am always happy to help. :)

[2020-11-03 15:36] ido-namely opened #84 "A new calculated version in dry mode returns error"
Hi,
The command exits with exit code `65` when using dry run mode to test a new calculated release, see [here](https://github.com/go-semantic-release/semantic-release/blob/c75c64391401b568510954364d7a20c4e39bc211/cmd/semantic-release/main.go#L199).

I'm using this mode in the CI to verify a new release is calculated (but not released yet) as part of a PR.

I was wondering if I'm using the tool wro

[2020-11-03 15:53] christophwitzko commented on #84
Hi @ido-namely, thanks for using semantic-release. This is actually a bug, when using the `--allow-no-changes` flag the dry run should also exit with 0.

[2020-11-03 16:01] ido-namely commented on #84
Hi @christophwitzko , thanks for the quick response.
I had thought `allow-no-change` was meant to let the tool exit with `0` in case there is no new version found, so it would make sense  it would get to the line in question.

In my case there was a new found version, here is the full output:
[code]

I thought everything worked fine except the exit code.

Either way, I'd be happy to contribute on

[2020-11-03 16:21] christophwitzko commented on #84
Hi @ido-namely, you are right, my mistake. The `--allow-no-changes` flag is if no release was created.
The main idea why `--dry` errors, was that no release was created, so if you use `semantic-release` in a bash script the following commands are not executed.
Maybe we want something like a `--check` flag to detect changes? 🤔

[2020-11-03 18:05] ido-namely commented on #84
Thanks @christophwitzko, the way I view it, `--dry` should simulate the behavior as much as possible, and return with `0` in this case. In my scenario I want to be able to confirm release would have worked (while cutting a new version) if my pr was merged to master.

Maybe there is room to let the script continue further without actually making changes in `dry` mode?

I understand the need to ensu

[2020-11-03 22:59] ido-namely opened #86 "maintained version is not bumped as expected"
I'm using the `--maintained-version` flag with initial value of `2-rc`
```/usr/local/bin/semantic-release --provider-opt "slug=<repo-name>" --no-ci -f --allow-no-changes  --prerelease --maintained-version "2-rc"```

[code]
Expected behavior:
The newly created version  is `2.1.0-rc`.

Actual behavior:
The newly created version  is `2.0.0-rc.1`.

I tried flipping the order and use `rc-2`, but that i

[2020-11-04 07:41] cliedeman opened #88 "Proposal: Alternative way to package semantic-release"
This is a spike to test an alternative way to package semantic-release.

I have an example repo here with
https://github.com/cliedeman/go-semantic-release-example/blob/master/main.go
and a sample pr to do the bare minimum amount of work to test the concept - https://github.com/go-semantic-release/semantic-release/pull/87

The idea is that we provide an alternative way to create a semantic object a

[2020-11-04 20:40] christophwitzko commented on #84
Hey @ido-namely,

This is a good point, I will change semantic-release to exit with 0 after a dry run 👍

[2020-11-04 21:32] #84 closed

[2020-11-05 15:56] ido-namely commented on #84
Thanks for the quick turnaround on this issue @christophwitzko !

[2020-11-09 13:18] christophwitzko commented on #86
Hi @ido-namely, the maintained version feature is to keep releases in a certain version range. As you pass a version range with a prerelease value (`2-rc`), it will stay in the prerelease version range. So the actual behavior is correct.
The behavior you expect would be a different feature to set the prerelease value to a custom value.

[2020-11-09 13:30] christophwitzko commented on #88
Hey @cliedeman, packaging semantic-release can be done by creating a zip/tar of the `.semrel` directory and the go-semantic-release binary. Terraform does it the same way: https://github.com/hashicorp/terraform/tree/master/tools/terraform-bundle

I personally would not prefer to build a single semantic-release binary. The current plugin discovery already supports an easy way to customize / exchang

[2020-11-09 13:37] christophwitzko commented on #74
Hi @Azuka, if you use the `--dry` flag and the `--version-file` flag it will create a `.version-unreleased` file. This will contain the expected version of the next release.
Currently, we try to decuple version changes from the commit history, so there is no plan of a chore commit for semantic-release.

[2020-11-09 13:37] #74 closed

[2020-11-13 08:22] kirbo opened #91 "Prepend new content to CHANGELOG.md"
Hi,
I'm not sure whether it's an error in my configurations/environment/something, but I noticed that in our use the `CHANGELOG.md` gets completely rewritten every time a release has been made, thus losing the history of the change log.
I mean, only the latest changes in the change log are persistent.
I mean, if I currently had only contents of version `0.2.0` in my change log, now I run the `sema

[2020-11-13 10:39] christophwitzko commented on #91
Hey @kirbo, you are right. The `--changelog` flag replaces the existing changelog.
I agree with you, we should have a `--append-changelog` flag 👍

[2020-11-13 16:13] #91 closed

[2020-11-13 16:15] christophwitzko commented on #91
I added a `--prepend-changelog` flag to semantic-release in [v2.10.0](https://github.com/go-semantic-release/semantic-release/releases/tag/v2.10.0)👍

[2020-11-16 11:57] kirbo commented on #91
Forgot to mention one thing, which I hope you also had in mind;
I think that the `prepend-changelog` shouldn't affect the release change log, but it should affect only the `CHANGELOG.md` file. At least in our case, we would want the GitLab/GitHub releases to contain only the changes that were related to the release, not the 100% history of every release, but the `CHANGELOG.md` file we would like t

[2020-11-16 11:57] kirbo commented on #91
And thanks for the quick implementation! 🤗

[2020-11-16 12:02] christophwitzko commented on #91
Yes, the `--prepend-changelog` flag only prepends to the changelog file, not the GitHub/GitLab releases.

[2020-11-16 12:04] kirbo commented on #91
Okay, nice! Thanks again! 🙂

[2020-11-16 12:06] kirbo commented on #83
We currently use it like this:
[code]

[2020-11-19 12:51] kirbo commented on #83
Actually this didn't work for us at the moment. Therefore I created a pull request, which I hope should fix this problem.
Not completely sure though, since I wasn't able to run it, because I'm getting an error:
[code]

..I was using my own image, which I tagged to be `2.13.0`, found here: https://hub.docker.com/r/kirbownz/semantic-release

Would you happen to know why am I getting this error?
Loca

[2020-11-19 21:26] christophwitzko commented on #83
@kirbo this is related to the plugin builds. They are dynamically linked and not running on alpine, I will update the build configuration to provide statically linked binaries.

[2020-11-20 10:27] christophwitzko commented on #83
@kirbo The plugins are now recompiled and the latest release of the docker image is working 👍

[2020-11-20 10:45] kirbo commented on #83
Nice, thank you! I'll give it a shot in a moment 🙂 Noticed that you didn't include the `docker-entrypoint.sh` file. That would've (at least should've) fixed the issue [mentioned here](https://github.com/go-semantic-release/semantic-release/issues/83#issue-716428190)

[2020-11-20 12:48] christophwitzko commented on #83
@kirbo Ooops, overlooked it. 🙈 Can you create another pull request? Thanks in advance! ☺️

[2020-11-21 11:29] kirbo commented on #83
Sorry, almost forgot to answer. The image now works, with the exact example I wrote above. I'll try later whether this issue is addressed as well, since I just realised that alpine contains SH anyway, so at least on theory this should work just fine, because we're overwriting the entrypoint with empty anyway:
[code]

[2020-11-23 07:43] kirbo commented on #83
Yup, I can confirm that this works now:
[code]

[2020-11-23 07:50] kirbo commented on #83
And as suspected, this did not work, without the `docker-entrypoint.sh` thingy.
I'll create a Pull Request out of it soon-ish:
[code]

Output:
[code]

[2020-11-23 10:59] christophwitzko commented on #83
@kirbo Thanks for testing it out. Looking forward to your PR! 👍

[2020-11-29 08:41] timoknapp opened #98 "Feat: Force bump patch version, if no changes are found"
Hi @christophwitzko ,

while being pretty happy with the current feature-set of your `semantic-release` implementation, I notice a missing feature which would be pretty helpful for our release process. Is it already possible that you can "force bump" the patch version of a release if there are **no changes found** in the commit history? I totally know that it then might not comply with the standar

[2020-11-29 13:55] christophwitzko commented on #98
I am happy to add that 👍  Thanks for the PR ☺️

[2020-11-29 22:28] #98 closed

[2020-12-28 15:37] saitho opened #101 "How do file updaters work?"
Hi there,

I've been using the JS implementation and am currently looking into your Go implementation.
I want need to move some files and write the new version number to a VERSION file before the tag is created.

I guess that's what file updaters are for. I saw the example for NPM, but I did not see in the code where the changed files are committed to the repository?

[2020-12-29 13:54] christophwitzko commented on #101
Hi @saitho, this is currently not really possible. The file updaters are for updating the version number after the release (tag). You can use the `--dry` flag in combination with the `--version-file` flag to get the expected release. This will create a `.version-unreleased` file containing the next release, but not create a version tag.

[2020-12-29 14:34] saitho commented on #101
Hi @christophwitzko, too bad. :(

Are there any plans to support this in the future? I'd love to contribute!
Maybe you can add a page that compares the JS and Go implementation of semantic-release so I can get a better understanding on the use cases and goals.

[2021-01-06 08:11] hazcod opened #102 "--dry does not create .version file, breaking Action"
Related to https://github.com/go-semantic-release/action/issues/15

The .version is not created when `--dry` is provided, breaking the Action which depends on the `.version` file to provide the calculated version.

[2021-01-06 12:41] christophwitzko commented on #102
Hi @hazcod, instead of a `.version` file, a `.version-unreleased` file is created.

[2021-01-06 12:41] #102 closed

[2021-01-21 00:52] CandiedCode opened #103 "Add --config path for .semrelrc location"
For my golang project structure layout, my ci/cd related scripts/configs are located in [/build](https://github.com/golang-standards/project-layout/tree/master/build)

I do this with other tools such as
[code]

I would like a flag option to set the config file location via --config.

[2021-01-21 09:14] christophwitzko commented on #103
This is a great idea! 👍

[2021-01-26 23:34] avillalain opened #104 "How to configure the git provider"
Hi team,

I'm trying to configure go-semantic-release to use with a generic git repository and keep getting this error:

`[go-semantic-release]: authentication required`

I've tried setting up GIT_CREDENTIALS similar to the npm semantic release project, setting auth_username, auth_password and auth=basic based on the provider-git, but no luck. The last command I was executing is the following:
[co

[2021-01-27 14:53] christophwitzko commented on #104
Hi @avillalain,

thank you for using semantic-release. ☺️
I think you need for every provider option the `--provider-opt` flag:

[code]

[2021-01-27 17:47] avillalain commented on #104
@christophwitzko I tried that, and it did not work either. I'm wondering if there is a better location to find documentation on how to configure this.

[2021-01-27 22:40] christophwitzko commented on #104
@avillalain I am sorry about the docs, this is still a big todo.

I just tried it on GitHub Actions and it works fine, here is the workflow:
[code]
What git service are you using?

[2021-01-27 23:13] #104 closed

[2021-01-28 18:32] timoknapp opened #105 "Semantic Release does not fetch most recent releases from GitHub"
Hi @christophwitzko ,

I just stumpled upon a pretty weird behaviour regarding the way `semantic-release` fetches the releases of the relevant repository. While using `semantic-release` with GitLab in production for quite a while now, I just noticed that in GitHub it wont fetch the latest tags (Releases) and therefore wont generate the new `semantic-version` correctly.

Here is a sample repo of mi

[2021-01-28 19:43] timoknapp commented on #105
Hi @christophwitzko ,

Understood. Are you already working on a fix for this or is there already a PR upcoming?

[2021-01-30 20:01] christophwitzko commented on #105
Hi @timoknapp,

I looked more into your issue and was not able to reproduce it:
[code]
Your tags seem also not annotated, so the provider works fine. Do you still see the error?

[2021-01-30 20:13] timoknapp commented on #105
Hi @christophwitzko ,

haha I already changed the Tags from annotated to lightweight ones 😂

In case you want retry, simple create some tags like the following: `git tag -fa $TAGNAME`

Here is how I created them beforehand:

https://github.com/timoknapp/sound-on-fire/commit/b232a7202798fe0afdef43f10a81b2221bd4f212

Thanks for your support!
Timo

[2021-01-30 20:15] christophwitzko commented on #105
Ahhh, okay. 😅 Great, I will work on a fix to support annotated tags. 👍

[2021-01-30 20:42] christophwitzko commented on #105
I will close this issue in favor of https://github.com/go-semantic-release/provider-github/issues/3

[2021-01-30 20:42] #105 closed

[2021-01-30 21:00] christophwitzko commented on #105
@timoknapp The fix is now merged, annotated tags should work now ☺️

[2021-01-30 21:01] christophwitzko opened #106 "Support Apple Silicon"
Once go 1.16 is released, semantic-release should support darwin/arm64

[2021-01-30 21:04] timoknapp commented on #105
@christophwitzko

Awesome thanks for the hotfix 👍

[2021-02-12 13:13] maulik13 commented on #25
Sorry, this was dropped from my list. If nobody else takes this up I will try to get some time to help with this.

[2021-02-12 14:32] christophwitzko commented on #25
@maulik13 No worries ☺️  I think no one else is working on that issue, so feel free to start whenever you have time 👌

[2021-03-12 16:40] avillalain opened #107 "Plugins discovery behind proxy"
Hi

I'm wondering if there is a way to configure the execution to disable the plugin discoverability feature. Basically the environment where I'm running can't issue any outside calls to fetch packages, and I'm wondering as an alternative to be able to have a docker image with all plugins already packaged to be able to run it

[2021-03-12 20:25] christophwitzko commented on #107
Hi @avillalain,

`semantic-release` is currently not working behind a proxy. There is an option to pre-download the required plugins called `--download-plugins`. You can use the following Dockerfile to build an image containing all required plugins:

[code]

I am also happy to add proxy support to semantic-release. I will have some time in the following weeks to look into that issue.

Best,
Christ

[2021-03-15 16:01] avillalain commented on #107
Actually this might work, but I'm running a test, and I still see that it's trying to download plugins, even though I moved all plugins to the .semrel folder where the tool is installed, is there a set of env. variables that I need to set so that semantic-release do not check for plugins and use the ones already downloaded?

[2021-03-16 09:38] christophwitzko commented on #107
Okay, that means probably that `semantic-release` downloads the wrong plugins. Make sure to set the correct provider, ci condition, etc plugin as CLI flags, e.g.:
`semantic-release --download-plugins --provider gitlab --ci-condition gitlab`

[2021-03-16 13:55] avillalain commented on #107
@christophwitzko even with the plugins downloaded the binary is trying to pull the list of plugins, is there a way to turn that off?

[2021-03-16 14:40] christophwitzko commented on #107
Hmm, `semantic-release` only contacts the registry if the plugin was not found locally. 🤔 What plugins are you using for your setup? Can you post your semantic-release log output?

[2021-03-16 14:55] christophwitzko commented on #107
Okay, thanks for sharing. The `--prepend-changelog` does not require a separate plugin. The download plugins command looks correct. Currently, semantic-release requires having the `.semrel` directory in the current working directory and I am not sure if soft-linking is enough. Can you try to copy the `.semrel` folder where you are executing `semantic-release`?

[2021-03-16 15:02] avillalain commented on #107
@christophwitzko copying the folder worked perfectly. I thought of the needing the `.semrel` in the working directory, but did not think that I needed to copy it directly. Thanks again, I'll see if this approach can work, I'm hoping to see if I can download the plugins first and that might be an alternative.

[2021-03-16 17:10] avillalain commented on #107
@christophwitzko I'm exploring a workaround using the proxy to download those binaries from github. And I'm downloading them but I'm not sure why `go-semantic-release` is trying to hit the plugin list.  Basically I'm manually creating the `.semrel` folder structure, with the following plugins:

- changelog-generator-default
- commit-analyzer-default
- condition-default
- files-updater-npm
- provid

[2021-03-16 17:10] #107 closed

[2021-07-15 15:19] deveshk0 opened #108 "How to release patches for older version"
I have a branch setup like release-1 and release-2 which releases version like 1.x.x and for release-2 -- 2.x.x. How i can release a patch from release release-1 branch, default branch is switched to release-2

[2021-07-16 11:05] christophwitzko commented on #108
Hi @deveshk0, this can be solved by committing a `.semrelrc` file in your branch with the content:
[code]
This will tell semantic-release to stay in the 1.x.x version range and you can release patches and features for the older v1 release.

[2021-07-16 13:02] cliedeman commented on #49
think is covered by https://github.com/go-semantic-release/semantic-release/issues/49#issuecomment-619529919

[2021-07-16 13:02] #49 closed

[2021-07-16 13:02] #88 closed

[2021-07-16 13:48] deveshk0 commented on #108
Thanks, Working fine for me.

[2021-07-16 13:48] #108 closed

[2021-07-26 19:25] harrisonmuskat opened #109 "get-release.xyz appears to be down"
I have noticed `get-release.xyz` seems to be having some issues today. Earlier it appeared the certificate may have expired (but then the problem was resolved) and now when I curl I get the following:

[code]

Not 100% sure what the issue is here but figured it was worth at least noting with an issue.

[2021-07-26 19:41] AeroNotix commented on #109
Ref: https://github.com/christophwitzko/get-release.xyz/issues/4

[2021-07-26 20:13] christophwitzko commented on #109
My apologies, there was an issue with the new deployment setup. It is now up and running again. (see https://github.com/christophwitzko/get-release.xyz/issues/4#issuecomment-886991752)

[2021-07-26 20:13] #109 closed

[2021-07-27 15:56] #106 closed

[2021-09-21 11:59] deveshk0 opened #112 "After release it doesn't update local repo"
After release it doesn't update local repo, so when you check for latest tag it shows the older version.

I am using followin command to get latest tag -

[code]

When repo is pulled again then it shows the lates version.

[2021-11-16 07:41] cliedeman commented on #83
I think I have an easier solution to this.

Keep the entrypoint.sh but exit early if we detect we are running in gitlab using the `GITLAB_CI` environment variable

https://docs.gitlab.com/ee/ci/variables/predefined_variables.html

[2021-11-16 08:48] cliedeman commented on #112
Hi @deveshk0 can you share a bit more about the use case and which CI enviromment you are using?
There is no garuntee that after the repo has been checked out that the 'runner' or github action or gitlab build step will have permissions to update the repo.

I expect `git fetch --tags` will work in some cases but not all

[2021-11-16 11:19] #83 closed

[2021-11-20 07:03] soohoowoohoo commented on #103
@christophwitzko @cliedeman I'd be interested in working on this. Is this fine with y'all?

[2021-11-20 10:09] christophwitzko commented on #103
@soohoowoohoo Sure, feel free to open a PR. ☺️ 🙏

[2021-11-22 16:13] #103 closed

[2021-11-23 16:25] cliedeman opened #118 "Make the v tag prefix optional"
Nuget package versions disallow the v prefix.

Add a config option to omit this

 https://docs.microsoft.com/en-us/nuget/concepts/package-versioning

[2021-12-09 15:19] jeraldsm opened #119 "How to create a prerelease tag x.x.x-rc.0 in default branch"
Hi,

I wanted to implement, a prerelease tag ( x.x.x-rc.0) for UAT environment and later create main tag (x.x.x) in production environment as a part of cicd pipeline.

I tried using the "**--prerelease**" flag, but it bumped the version as it would normally and did not create a special pre-release tag, as shown below.

[go-semantic-release]: version: 2.17.0
[go-semantic-release]: ci-condition plug

[2021-12-09 20:53] KoduIsGreat commented on #119
I have a simliar question, I have two branches, main and dev on dev i want  maintained version semver i.e develop-v1.0.0.1
and on main normal development versions, i've tried  simply adding a .semrelrc with the contents
[code]
but got the following error in my ci environment when it ran on my default branch:
[code]

I would expect the build to bump versions the way it always does on main, and not

[2021-12-10 09:19] christophwitzko commented on #119
Hi @jeraldsm and @KoduIsGreat,

thanks for using semantic-release and raising this issue. You are absolutely right, this is currently not possible and I am happy to add a flag that allows prereleases on the default branch. 👍

[2021-12-10 10:16] jeraldsm commented on #119
Thanks for the quick response @christophwitzko.  Waiting for the new prelease flag :)

[2021-12-10 15:27] KoduIsGreat commented on #119
@christophwitzko thanks for the quick response, however i think my need is slightly different I just want to beable to create pre-releases on dev and normal releases on main and i had thought maintainedVersion was the way to do that is this the case?

[2021-12-11 19:06] KoduIsGreat commented on #25
I think drone ci would be another good addition

[2021-12-13 16:53] jeraldsm commented on #119
Hi @christophwitzko ,

Do we have an ETC when the pre-release flag will be available on default branch ?
Just wanted to plan accordingly :)

[2021-12-13 18:03] #119 closed

[2021-12-13 18:12] christophwitzko commented on #119
Hey @jeraldsm, I just pushed the feature and version [v2.18.0](https://github.com/go-semantic-release/semantic-release/releases/tag/v2.18.0) was released.

[2021-12-15 04:32] jeraldsm commented on #86
Hi @christophwitzko

I have a similar but slightly different issue, In my case, if the tag 1.x.x-rc.1 already exist and when we specify `--maintained-version 1.x.x-rc`, then I get an error `POST https://gitlab.com/api/v4/projects/25611712/releases: 409 {message: Release already exists}` and the command get terminated with exit code 1.

[go-semantic-release]: version: 2.18.0
[go-semantic-release]:

[2021-12-19 08:40] jooola opened #123 "How to use this tool ?"
I've been browsing the different repository to try finding documentation on how to configure or do some task. And I didn't find much documentation.

For instance I was hoping to upload the generated change log back to github from the github actions. But I couldn't find any doc to guide me.

Also I would like to release a version only by manually triggering the CI. Is there a way to do this ?

Did

[2021-12-19 08:43] jooola commented on #123
Maybe I am asking for feature that aren't yet implemented. Is there a roadmap / epic somewhere in the project that could describe it's plans for the future ?

This tool is great idea btw !

[2021-12-20 19:19] SISheogorath opened #124 "Providing files-updater-helm plugin"
I wrote a plugin for go-semantic-release to update helm versions (https://git.shivering-isles.com/sheogorath/files-updater-helm).

While I can obviously maintain it in my own repository, I would like to push this upstream into the go-semantic-release organisation and maintain it in here. I wonder what's your opinion on that.

Note: I'm not the greatest go writer in the world, so general feedback i

[2021-12-22 11:14] christophwitzko commented on #124
Hi @SISheogorath, this is amazing. 🎉 Thank you ☺️
I will create a repository for you and once the release/build process works, I will add it to the plugin registry.
I also checked out your code and it looks very good. Just found one little thing at https://git.shivering-isles.com/sheogorath/files-updater-helm/-/blob/main/pkg/updater/helm.go#L36 Why is there no error handling?

Cheers, Chris

[2021-12-22 11:33] christophwitzko commented on #123
Hi @jooola, thanks for giving semantic-release a try, and sorry for the non-existing documentation. 😇
If you use GitHub + GitHub actions you should have a look the [go-semantic-release/action](https://github.com/go-semantic-release/action) repository.
With the default configuration, the changelog will be uploaded automatically to GitHub. (I am also not entirely sure if I understand your issue corr

[2021-12-22 11:50] jooola commented on #123
@christophwitzko Thanks for the feedback.

I would like to upload a CHANGELOG.md file generated by the CI back to the repository. I probably didn't explain my use case enough sorry.

Thanks for the tips. Maybe starting to write a FAQ or enabling discussions/question labels will provide some help for new comers ?

[2021-12-22 12:02] jooola commented on #123
I guess the main trouble I have is to know what are the input/output of this tool. If I know if a CHANGELOG.md file get's generated, I could use some other actions/git to push it back to the repo.

[2021-12-22 15:20] SISheogorath commented on #124
Thanks! I added the content to the repository, updated the required fields and fixed the missing error handling!

Looking forward to work on this :)

[2021-12-22 23:38] christophwitzko commented on #124
Awesome, I also added the plugin to the plugin registry. 👍  Thanks for contributing a new plugin 🎉

[2021-12-22 23:38] #124 closed

[2021-12-22 23:44] christophwitzko commented on #123
Thank you for clarifying. I like the idea to use question labels 👍

You can use the `changelog-file` options to generate the `CHANGELOG.md`.

[code]

[2022-01-01 13:59] biodrone commented on #123
Came across this whilst trying to figure out why my changelog isn't actually being generated... My step is below, it works for versioning and tagging, but it never produces an actual changelog file. I've tried manually creating it just in case but to no avail. I can see from my logs that it's outputting that a changelog is being generated but still nothing... Am I just being dense or is there some

[2022-01-16 19:32] holtakj opened #125 "How to release from maintenance branches?"
Hi,

How to release from a maintenance branch?

My situation:
Last tagged(released) version: v0.4.1
And I want to release a fix for 0.3.x which should be 0.3.17 as 0.3.16 is the last 0.3.x released version.

I`ve tried to release from branches 0.3.x and 0.3.0 and some other variants but the version (I did a dry run) was always 0.4.2.

Thank you.

[2022-01-20 03:34] jeraldsm opened #126 "Provide option to generate only changelog."
Hi,

It would be great, if there was an option to generate only changelog using go-sematic release for specific use cases.
There are other tools like [standard-version](https://www.npmjs.com/package/standard-version) which has this feature, but go-semantic release changelog is more readable for our use case.
Hope, this feature can be introduced.

Thanks in advance.

[2022-01-20 05:53] jeraldsm commented on #126
I found, It is possible to generate only changelog with go-semantic-release by using `--dry` option

[code]

[2022-01-22 10:53] #126 closed

[2022-01-22 10:57] christophwitzko commented on #125
Hi @holtakj, did you check in a `.semrelrc` file on your maintenance branch?
[code]
This tells semantic-release to stay in the `0.3.x` range.

[2022-01-22 10:59] #77 closed

[2022-01-25 15:03] holtakj commented on #125
Thanks. that worked fine. Maybe make it clear in the documentation.

[2022-01-25 15:03] #125 closed

[2022-02-09 23:51] shaunc opened #129 "Add python support"
I'm wondering if I can use this for a python project on gitlab.

I like this project because of how lightweight it is, supports gitlab, and support pre-releases, which the current python-semantic-release doesn't (among a few other glitches I had using it). I've used the original semantic-release before, but AFAIK I'd have to use yarn/npm tooling in addition to poetry, which seems unnecessary if I

[2022-02-10 08:39] christophwitzko commented on #129
Hi @shaunc, at the moment we only have support for [npm packages](https://github.com/go-semantic-release/files-updater-npm) and [helm charts](https://github.com/go-semantic-release/files-updater-helm). I am happy to add support for poetry.
You can enable plugins using command line flags or the [.semrelrc](https://github.com/go-semantic-release/semantic-release#configuration) config file.

[2022-02-10 20:24] tarpanpathak opened #130 "Ref_name is invalid error"
Hello,

First of, thank you for releasing this tool. It has been a great experience thus far.

Without any changes to our environment, we are currently getting the following error when using `semantic-release`:

[code]

When I make an API call using the same token to the endpoint above, i.e. `https://gitlab.com/api/v4/projects/<project_id>/repository/commits`, I get a valid (i.e. HTTP/200) respons

[2022-02-10 22:50] sauramirez commented on #130
We are also experiencing the same issue. I believe gitlab released something recently that might have changed the response received from the endpoint

[2022-02-10 23:38] sauramirez commented on #130
The commits ref_name seems to returning a 400 validation error
`https://gitlab.com/api/v4/projects/<redacted>/repository/commits?ref_name=<redacted>...<redacted>`

`{"error":"ref_name is invalid"}`

[2022-02-11 08:55] christophwitzko commented on #130
Thanks for reporting! @cliedeman do you know anything about this?

[2022-02-12 00:11] tarpanpathak commented on #130
In case this is helpful for anyone else, the GitLab team has fixed the issue and our automation is working normally again. Apologies for the false alarm. I'll close this out.

[2022-02-12 00:11] #130 closed

[2022-03-04 23:21] mirusky opened #131 "How to automatically generate CHANGELOG and push it back to repository?"
Self explanation question

/label question

[2022-03-11 07:15] ted-v9n opened #134 "Is mapping ci-condition-opt from the command line wrong?"
Hi!
My repo setting default branch: `develop`
I just want to use ci-condition-opt to override `defaultBranch`.
My command:
`./semantic-release --provider gitlab --ci-condition gitlab --ci-condition-opt defaultBranch="*" --token ***`

I see code override ci-condition-opt here:
https://github.com/go-semantic-release/semantic-release/blob/5c3439156f8ddb84f0e880b6c29f3a719a0b6ed4/cmd/semantic-release/

[2022-03-13 12:12] christophwitzko commented on #134
Hey @ted-v9n, thanks for investigating this.
You are right, passed options are converted to the lowercase representation:
https://github.com/go-semantic-release/semantic-release/blob/5c3439156f8ddb84f0e880b6c29f3a719a0b6ed4/pkg/config/config.go#L78
So yes, this is a bug and it is currently impossible to overwrite camelCase configuration options. In your case, you could try the `--no-ci` flag to sk

[2022-03-13 13:13] ted-v9n commented on #134
Hi @christophwitzko , thank you so much. I appiled  --no-ci to workaround. 👌

[2022-03-13 13:14] #134 closed

[2022-03-13 13:15] christophwitzko commented on #134
awesome, I also fixed it with the next release 🎉

[2022-03-13 13:21] christophwitzko commented on #131
Hi @mirusky, this heavily depends on the CI and git platform you use. If you are using GitHub and GitHub Actions you can use a plugin like: https://github.com/ad-m/github-push-action

[2022-03-20 12:15] cliedeman commented on #118
Look at this again and its really not worth it. I will rather just strip the v prefix when trigger the nuget publish and keep the tags v prefixed

[2022-03-20 12:15] #118 closed

[2022-04-03 14:01] mirusky commented on #131
I wasn't sure if I needed to push it back, but as I see it necessary.

Anyway a great job.

[2022-04-03 14:01] #131 closed

[2022-04-03 14:06] mirusky commented on #28
Waiting for Bitbucket Cloud

[2022-04-05 16:54] ted-vo opened #137 "Flag '--update' and '-u' are seem not working"
Hi!
I just create custom plugin [files-updater-gradle](https://github.com/ted-vo/files-updater-gradle)
So I want to use `--update` for my `gradle.properties` file.

**Expected behavior:**
It should pass `--update` value to `conf.UpdateFiles`

**Actual behavior:**
`conf.UpdateFiles` with no data

-------------------------------------------------------------------------------------------------------

[2022-04-27 15:54] a5r0n commented on #137
same from gh-action
[code]

[2022-05-02 10:17] AndreasSko opened #138 "Exit Code 0 even if Hooks plugin failed"
While developing a custom Hooks plugin I noticed that semantic-release will exit successfully, even if the Hooks plugin returned an error. I'm wondering if this is expected behavior or a bug. I think
https://github.com/go-semantic-release/semantic-release/blob/18e8bae821ffac4f4569bc642ae3cb29ecf983f6/cmd/semantic-release/main.go#L308-L321
is missing an `exitIfError`, which is the case for other pl

[2022-05-06 09:38] ted-vo commented on #137
I resolved

[2022-05-06 09:38] #137 closed

[2022-05-22 13:03] christophwitzko commented on #138
Hi @AndreasSko, the idea was that hooks plugins should never interrupt the release flow.
But I can see cases where this makes sense. We can put it behind a cli flag, so users have to explicitly enable it.

[2022-05-22 18:04] #138 closed

[2022-05-31 08:41] cliedeman opened #141 "Gitlab CI_JOB_TOKEN"
Get go-semantic-release to work with a gitlab ci job token.

The token has much less permissions than a PAT but only has access to limited endpoints.
The motivation is ease of maintance. The ci tokens are automatically created and deleted after builds so are ideal for publishing

The variables we currently source from the project api are available during the build

https://docs.gitlab.com/ee/ci/va

[2022-05-31 11:27] cliedeman commented on #141
Create a little test project

[code]

switching the client type is key
[code]

Output
[code]

None of the calls work except for create release.

There is away to clone a repo -
[code]

So with only being able to create a release and clone a repo we _could_ actually implement this but it would be a reasonable amount of effort. Also this may not be viable for large repos

[2022-06-02 13:13] AndreasSko commented on #138
Thank you, @christophwitzko! Really appreciate it :slightly_smiling_face:

[2022-06-15 11:18] swanky-potato opened #143 "Tag commit that contains CHANGELOG.md (git-provider)"
Hi,

I might read over it somewhere but I like to commit my generated changelog and tag that commit as the release.  So when looking up the release tagged commit contains the Changelog for that release.

I am currently limited to using the plain git provider and Bamboo as CI system, so no fancy GitHub actions etc...
My best guess is that I need to use a hook to push the changelog before the tag is

[2022-07-05 07:55] secustor commented on #141
A clone shouldn't be needed, as long `GIT_STRATEGY` is not overwritten by an user.

CI_JOB_TOKEN permission documentation for reference. https://docs.gitlab.com/ee/ci/jobs/ci_job_token.html

I would like to see this feature too, this would the killer feature which would make me migrate.

[2022-07-05 08:59] cliedeman commented on #141
Hi @secustor

We can probably detect [GIT_STRATEGY](https://docs.gitlab.com/ee/ci/runners/configure_runners.html#git-strategy)
and fail the build. The clone could be used in caes where the pipeline is not cloned by default but I dont need this use case either.

@christophwitzko Do you think this should be a new alpha provider or switches on the existing gitlab provider?

[2022-07-05 10:35] christophwitzko commented on #141
Thank you @secustor and @cliedeman for looking into this.
I think we can add this to the current provider, so it will work for everyone out of the box.
If GIT_STRATEGY is `clone` we can use the existing git provider as a library to read the commits and releases (https://github.com/go-semantic-release/provider-git/blob/master/pkg/provider/git.go).
And the release is than created with the CI_JOB_TOK

[2022-07-12 05:14] Silthus opened #144 "maintainedVersion does not create a pre-release"
Hi,

I have a `.semrelrc` file with the following content to create pre-releases for beta versions:

[code]

The beta release is created just fine, however I expected it to be a pre-release (in Github) which it is not. How can I make beta releases pre-releases, but not the releases on `main`?

[2022-07-12 10:56] christophwitzko commented on #144
Hey @Silthus, this is correct. The pre-release flag is always disabled by default.

You can either use the CLI flag `--prerelease` to enable pre-releases or you can add a provider config to you `.semrelrc`:
[code]

[2022-07-12 11:51] Silthus commented on #144
Thank you for the quick answer. However one question remains: will this also affect the stable releases on the `main` branch? I only want to release pre-preleases on the beta branch.

[2022-07-19 09:58] ilgizy opened #145 "Adding BREAKING CHANGE does not increment major version"

[2022-07-19 17:28] christophwitzko commented on #145
Thanks for reporting this bug! Can you post how this can be reproduced? 🤔
Normally the commit analyzer should detect the `BREAKING CHANGE` phrase: https://github.com/go-semantic-release/commit-analyzer-cz/blob/master/pkg/analyzer/commit_analyzer.go#L12

[2022-09-11 18:22] jtuchel opened #146 "Docs improvements"
I created a new go project with the following workflow to play around

[code]

For now that's it, I'm just pushing to the main branch to see what it does :)

Unfortunately I'm struggling with the docs:

- I couldn't find a `v2` action ( tried it in the workflow but Github couldn't find it ) which is mentioned at https://github.com/go-semantic-release/semantic-release#plugin-system
- The arguments

[2022-11-14 21:40] grzesuav opened #148 "Customizing release notes"
Hi,

I would like to customize release notes, used in changelog and github releases.

I.e. I would like to add commit body there, and mention author of the commit.

Is is possible ?

If not, in which plugins I would need to add changes ?

[2022-11-14 22:20] grzesuav commented on #146
@jtuchel were you able to generate changelog.md file ? If yes, with which setup ?